<div class="builder-layout">
    <div class="panel left">
        <h2>Field Types</h2>
        <div class="field-types" cdkDropList #fieldTypesList="cdkDropList" [cdkDropListData]="availableFields"
            [cdkDropListConnectedTo]="[formCanvasList]">
            <div class="draggable" *ngFor="let field of availableFields" cdkDrag [cdkDragData]="field">
                <div class="field-type">
                    <mat-icon>{{field.icon}}</mat-icon>
                    <span>{{field.label}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel center">
        <div class="form-header">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Form Name</mat-label>
                <input matInput [(ngModel)]="formName" placeholder="Enter form name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Form Description</mat-label>
                <textarea matInput [(ngModel)]="formDescription" placeholder="Enter form description"
                    rows="3"></textarea>
            </mat-form-field>
        </div>

        <div class="form-canvas" cdkDropList #formCanvasList="cdkDropList" [cdkDropListData]="formFields"
            [cdkDropListConnectedTo]="[fieldTypesList]" (cdkDropListDropped)="onDrop($event)">
            <div class="field-block" *ngFor="let field of formFields; let i = index"
                [class.selected]="selectedFieldIndex === i" (click)="selectField(i)" cdkDrag>
                <div class="field-header">
                    <div class="field-info">
                        <mat-icon>{{field.type.icon}}</mat-icon>
                        <span>{{field.label || field.type.label}}</span>
                    </div>
                    <div class="field-actions">
                        <button mat-icon-button (click)="moveField(i, -1)" [disabled]="i === 0">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button mat-icon-button (click)="moveField(i, 1)" [disabled]="i === formFields.length - 1">
                            <mat-icon>arrow_downward</mat-icon>
                        </button>
                        <button mat-icon-button (click)="removeField(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="drop-placeholder" *cdkDropListPlaceholder></div>
        </div>

        <div class="action-buttons">
            <button mat-button routerLink="/forms">
                <mat-icon>arrow_back</mat-icon>
                Cancel
            </button>
            <div class="spacer"></div>
            <button mat-raised-button color="primary" (click)="previewForm()">
                <mat-icon>visibility</mat-icon>
                Preview
            </button>
            <button mat-raised-button color="accent" (click)="saveForm()">
                <mat-icon>save</mat-icon>
                Save Form
            </button>
        </div>
    </div>

    <div class="panel right" *ngIf="selectedField">
        <h2>Field Properties</h2>
        <form [formGroup]="fieldForm" class="field-properties">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Label</mat-label>
                <input matInput formControlName="label" placeholder="Enter field label">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Placeholder</mat-label>
                <input matInput formControlName="placeholder" placeholder="Enter placeholder text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Help Text</mat-label>
                <input matInput formControlName="helpText" placeholder="Enter help text">
            </mat-form-field>

            <mat-checkbox formControlName="required" class="full-width">
                Required Field
            </mat-checkbox>

            <ng-container *ngIf="selectedField">
                <ng-container [ngSwitch]="selectedField.type.type">
                    <ng-container *ngSwitchCase="'text'">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Pattern</mat-label>
                            <input matInput formControlName="pattern" placeholder="Enter regex pattern">
                            <mat-hint>Regular expression for validation</mat-hint>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngSwitchCase="'select'">
                        <div formArrayName="options" class="options-list">
                            <div *ngFor="let option of optionsArray.controls; let i = index" [formGroupName]="i"
                                class="option-item">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Option {{i + 1}}</mat-label>
                                    <input matInput formControlName="value" placeholder="Enter option value">
                                    <button mat-icon-button matSuffix (click)="removeOption(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <button mat-button (click)="addOption()" class="full-width">
                                <mat-icon>add</mat-icon>
                                Add Option
                            </button>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'radio'">
                        <div formArrayName="options" class="options-list">
                            <div *ngFor="let option of optionsArray.controls; let i = index" [formGroupName]="i"
                                class="option-item">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Option {{i + 1}}</mat-label>
                                    <input matInput formControlName="value" placeholder="Enter option value">
                                    <button mat-icon-button matSuffix (click)="removeOption(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <button mat-button (click)="addOption()" class="full-width">
                                <mat-icon>add</mat-icon>
                                Add Option
                            </button>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'checkbox'">
                        <mat-checkbox formControlName="defaultValue" class="full-width">
                            Checked by default
                        </mat-checkbox>
                    </ng-container>

                    <ng-container *ngSwitchCase="'date'">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Min Date</mat-label>
                            <input matInput [matDatepicker]="minPicker" formControlName="minDate">
                            <mat-datepicker-toggle matSuffix [for]="minPicker"></mat-datepicker-toggle>
                            <mat-datepicker #minPicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Max Date</mat-label>
                            <input matInput [matDatepicker]="maxPicker" formControlName="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="maxPicker"></mat-datepicker-toggle>
                            <mat-datepicker #maxPicker></mat-datepicker>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </ng-container>
        </form>
    </div>
</div>